*{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.PrimaryLink{
    text-decoration: none;
    background-color: blueviolet;
    color: aliceblue;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
}

.SecondaryLink{
    text-decoration: none;
    color: cornflowerblue;
    padding: 0.5rem 1rem;
    border: .1rem solid;
    border-radius: 0.5rem;
}
.inlineList{
    display: inline-flex;
    margin: 0rem;
}

.inlineList > li {
    padding-left: 1rem;
}

.navigation{
    background-color:blueviolet;;
    padding: 1rem;
    padding-top: .1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

.navigation li ,h3{
    color: aliceblue;
}

.navlist{
    position: relative;
    top: 2.5rem;
}

.headerHead{
    color: grey;
    text-align: center;
}
section h2{
    text-align: center;
}
.offwhitesection{
    background-color: gainsboro;
    padding: 1rem;
}
footer{
    text-align: center;
    background-color: blueviolet;
    padding: 1rem;
    color: azure;
    border-top-right-radius: 1rem;
}

footer ul{
    padding-inline-start: 0px;
    position: relative;
    left: -.4rem;
}